* {
  margin:0;
  padding:0;
  text-align:center;
  box-sizing:border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  background-color:#a9a9a9;
}

body {
  width:80%;
  margin:20px auto;
}

header {
  background-color:#caebf2;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
  border:1px solid #000;
}

header h1 {
  color:#fff;
  font-size:48px;
  text-shadow:-1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

section {
  background-color:#07889b;
  padding:20px 20px 0 20px;
  border:1px solid #000;
  border-bottom-right-radius:20px;
  border-bottom-left-radius:20px;
}

section a {
  text-decoration:none;
  color:#fff;
}

section div {
  width:100%;
  margin:0 auto 20px auto;
  border-radius:10px;
}
h3 {
 font-size:18px;
 display:inline;
}

h4, h5 {
  font-size:14px;
  display:inline;
}

.online {
  background-color:#66b9bf;
}

.offline {
  background-color:rgba(0,0,0,0.2);
}

.hide {
  visibility:hidden;
}

section div img {
  width:50px;
  height:50px;
  border-radius:50%;
  display:inline-block;
}